@page
@model IndexModel

<div class="matrix" id="matrix">
    <div class="code">
        <table>
            <caption>Code Matrix</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="sequence">
        <table>
            <caption>Sequences</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button type="button" id="capture"><i class="fa fa-camera"></i></button>
        <button type="button" id="clear"><i class="fa fa-trash"></i></button>
        <button type="button" id="solve"><i class="fa fa-calculator"></i></button>
    </div>
</div>
<div class="solution" id="solution">
</div>
<footer></footer>

